* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    background-color: #f5f5f5;
    color: #223344;
}

.container {
    max-width: 912px;
    padding: 0 1.2rem;
    margin: auto;
}


.template {
    display: none;
}


.anuncio {
    width: 100%;
    max-height: 10rem;
}



/* Header */

.header {
    margin-block: 1.6rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

h1,
h2 {
    font-family: sans-serif;
}




/* Form */

.form {
    margin: .4rem 0;
    position: relative;
}

.form form {
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    position: relative;
    padding-bottom: 1.2rem;
}

.form form input {
    width: 100%;
    height: 3.6rem;
    outline: none;
    padding-left: 1.2rem;
    border: 1px solid #223344;
}



.form form input::placeholder {
    font-size: 1.4rem;
}

.form form button {
    font-size: 1.6rem;
    height: 3.6rem;
    padding: 0 .8rem;
    cursor: pointer;
    border: 1px solid #333;
    color: #223344;
    transition: .4s;
}

.form form button:hover {
    background-color: #cecece;
}

.form form .msg {
    position: absolute;
    bottom: -5px;
    left: 1px;
    font-size: 1.3rem;
    color: var(--error-color);
}


/* Geral */

.name {
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.8rem;
}


.params {
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;

}


.color {
    display: block;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    border: 1px solid #333;
}

/* Checkpoints */


.checkpoints {
    height: 7rem;
    border: 1px solid #333;
    margin: 0 auto .4rem;
    padding: .4rem;
    display: flex;
    align-items: start;
    gap: .4rem;
    overflow-x: scroll;
    background-color: #fff;
}

.checkpoints>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background-color: #fafafa;
    padding: .4rem;
    gap: .8rem;
    cursor: pointer;
    transition: .4s;
}

.checkpoints div:hover {
    background-color: #eee;
}

.checkpoints div .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkpoints div .params {
    font-size: 1rem;
}

.checkpoints .point .btn-remove {
    cursor: pointer;
    transition: .4s;
}

.checkpoints .point .btn-remove:hover {
    color: var(--error-color);
}

.checkpoints .color {

    height: 1.6rem;
    width: 1.6rem;
}


/* Nav-links */

.nav-links {
    display: flex;
    /* overflow-x: scroll; */
}

.nav-links button {
    padding: .8rem 1.4rem;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    transition: .4s;
    white-space: nowrap;
    background-color: transparent;
    font-family: serif;
    border: none;
    color: #223344;
}

.nav-links button.active {
    background-color: #fff;
    border: 1px solid #333;
    z-index: 2;
    border-bottom-color: transparent;
    transition: .4s;
    position: relative;
    top: 1px;
}

/* Content */

.content {
    border: 1px solid #333;
    margin-bottom: .4rem;
    position: relative;
    overflow: hidden;
}

.content>div {
    flex: 1 0 100%;
    height: 50rem;
    background-color: #fff;
    padding: 4rem 2.8rem;
    border: .4rem solid #fff;
    display: none;
    position: relative;
    overflow: scroll;
}

.content>div.show {
    display: block;
}




/* Dashboard */

.content .dashboard {
    position: relative;
    overflow: hidden;
}

.dashboard .box {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    outline: none;
    outline: 1px solid #333;
}

.dashboard .box:hover {
    outline: 1px solid #333;
}

/* Graphics */

.content .graphics {
    overflow-x: scroll;
}

.content .graphics .list {
    margin-top: 1.6rem;
}

.content .graphics .graphic {
    margin-bottom: .8rem;
}


.content .graphics .width {
    display: block;
    height: .4rem;
    border-radius: .4rem;
    margin-top: .4rem;
}



/* Statistics */

.content .statistics {
    overflow-x: scroll;
}

.content .statistics .selected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .8rem;
}

.content .statistics .selected .color {
    height: 1.6rem;
    width: 1.6rem;
}

.content .statistics .list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: 1.6rem;
    padding-left: 1.6rem;
}

.content .statistics .list li {
    display: flex;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
}

.content .statistics .list .params {
    font-size: 1.4rem;
}

.content .statistics .all {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-left: 1.6rem;
    margin-top: .8rem;
    flex-wrap: wrap;
}

.content .statistics .all .name {
    font-size: 2rem;
}

/* Compare */

.content .comparation {
    overflow-x: scroll;
}

.content .comparation .block {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.content .comparation .block .col {
    display: flex;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
}



/* Total */

.content .total {
    overflow-x: scroll;
}

.content .total h2 .params {
    font-size: 2.2rem;
    font-weight: bold;
}

.content .total .block {
    width: 100%;
    height: 2.4rem;
    margin-top: .8rem;
    display: flex;
}


.content .total .percent {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.content .total .percent .item {
    display: flex;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
}

.content .total .percent .item .per {
    font-family: sans-serif;
    font-weight: bold;
}


/* Texts */

.lastest-updated {
    margin-top: .4rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.description {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    /* margin: 1.6rem 0 2.4rem; */
    line-height: 2.4rem;
}

.description h3 {
    margin-top: 2.4rem;
}

.description ul {
    padding-left: 1.8rem;
}




/* Links */

.links {
    margin: 2.4rem 0;
}

.links .row {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    margin-top: 1.2rem;
}

.links a {
    color: #f5f5f5;
    background-color: #223344;
    padding: .4rem .8rem;
    transition: .4s;
}

.links a:hover {
    text-decoration: underline;
}


.footer {
    text-align: center;
    margin-top: 1.6rem;
    padding: 0 1.4rem;

}


.footer .container {
    padding: 1.6rem 0;
    border-top: 1px solid #333;
}

@media screen and (max-width:540px) {
    html {
        font-size: 55%;
    }

    .content>div {
        height: 44rem;
    }

    .nav-links {
        overflow-x: scroll
    }

    .nav-links button {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:414px) {
    html {
        font-size: 50%;
    }

    .content>div {
        padding: 2rem;
    }
}